# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Laravel
backend/.env
backend/.env.backup
backend/.env.production
backend/vendor/
backend/node_modules/
backend/public/storage
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/ios/Flutter/.last_build_id

# OS files
.DS_Store
Thumbs.db
